<form action="/cats" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label>Name
    <input type="text" name="cat[name]">
  </label>

  <label>text
    <input type="text" name="cat[text]">
  </label>

  <!-- <label>Owner
    <input type="text" name="cat[owner]">
  </label> -->

  <input type="submit">
</form>
